body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4B0082; /* Tono de violeta */
    margin: 0;
    font-family: Arial, sans-serif;
}
.login-container {
    background-color: #6A0DAD; /* Tono de violeta más claro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
}
.login-container h2 {
    margin-bottom: 20px;
}
.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #8A2BE2; /* Tono de violeta */
    color: white;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #7B1FA2; /* Tono de violeta más oscuro */
}
.login-container a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}
.login-container a:hover {
    text-decoration: underline;
}